body {
font-family: 'Arial', sans-serif;
}

.geral{
    background-color: #fde7c8;
}
img{
    width:100%;
}


#sidebar {
position: fixed;
top: 10px; /* pequena margem no topo */
left: 10px; /* pequena margem à esquerda */
height: calc(100% - 20px); /* ajusta a altura para considerar a margem */
width: 250px;
background-color: #ff3300;    
padding-top: 20px;
color: white;
transition: all 0.3s ease;
border-radius: 10px; /* deixa o sidebar arredondado */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* opcional: sombra para dar destaque */
}


#sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  margin: 10px 0;
  border-radius: 5px;
}

#sidebar a:hover {
  background-color: #613500;
}

.content {
  margin-left: 260px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.box {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #343a40;
  color: white;
  padding: 20px;
  text-align: center;
}

.quiz-button {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-button:hover {
  background-color: #495057;
}

.result {
  font-weight: bold;
  margin-top: 10px;
}

.form-check {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #sidebar {
   display: none;
    width: 0;
    overflow-x: hidden;
  }

  .content {
    margin-left: 0;
  }

  #sidebar.show {
    width: 250px;
  }

  .menu-toggle {
display: none;
  }
}

.video-container {
        position: relative;
        padding-bottom: 56.25%; /* Proporção de 16:9 */
        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    #video.box {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

